@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gameBoardContainer {
  width: 306px;
}
.cells {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.line0,
.line1 {
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}
.line2 {
  border-right: 2px solid grey;
}

[data-index='0,2'],
[data-index='1,2'],
[data-index='2,2'] {
  border-right: none;
}

.circle,
.cross {
  display: none;
}
header h2 {
  display: inline;
  font-size: 3rem;
  margin-left: 20px;
}
header {
  outline: 2px solid red;
  font-family: 'Fasthand';
  display: flex;
  align-items: center;
  padding-left: 30px;
}
