@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
}
.gameBoardContainer {
  width: 306px;
}
.cells {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.line0,
.line1 {
  border-bottom: 8px solid rgb(200, 200, 200);
  border-right: 8px solid rgb(200, 200, 200);
}
.line2 {
  border-right: 8px solid rgb(200, 200, 200);
}

[data-index='0,2'],
[data-index='1,2'],
[data-index='2,2'] {
  border-right: none;
}

.signs {
  display: none;
}
header h2 {
  display: inline;
  font-size: 3rem;
  margin-left: 20px;
  font-family: 'Fasthand';
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
}

.playervs {
  font-size: 1.5rem;
  font-family: 'fasthand';
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  position: relative;
}
.playerTurnPara {
  font-weight: bold;
  font-size: 2rem;
  /* margin-top: 40px; */
}
button {
  border: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.naming {
  height: 300px;
  width: 300px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  z-index: 2;
  border-radius: 10px;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
}
input {
  padding: 2px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
}
.naming div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blur {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.invert {
  filter: invert(1);
}

.winnerDisplay {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  z-index: 1;
  display: none;
  color: white;
}
