@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
}
.gameBoardContainer {
  width: 306px;
}
.cells {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.line0,
.line1 {
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}
.line2 {
  border-right: 2px solid grey;
}

[data-index='0,2'],
[data-index='1,2'],
[data-index='2,2'] {
  border-right: none;
}

.circle,
.cross {
  display: none;
}
header h2 {
  display: inline;
  font-size: 3rem;
  margin-left: 20px;
  font-family: 'Fasthand';
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
}

.playervs {
  font-size: 1.5rem;
  font-family: 'fasthand';
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.playerTurnPara {
  font-weight: bold;
  font-size: 2rem;
  /* margin-top: 40px; */
}
.reset {
  border: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
